  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: absolute;
    width: 100%;
    /* z-index: 10; */
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 50px;
    margin-right: 10px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;

  }
  .home{
      font-weight:bold ;
    
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(95, 94, 92);
      padding: 10px 10px;
    
  }

  nav ul li a:hover {
    color:black;
  padding: 5px 10px 3px 10px;
    background-color:  gainsboro;
  }

  .signup {
    margin-left: 30px;
    padding: 10px 60px;
    border: 1px solid #000;
    background: transparent;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.5s ease;
  }

  .signup:hover {
    background-color: #000;
    color: #fff;
  }

.hero {
  height: 130vh;
  background: url(main.webp) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-content h2 {
  font-size: 350%;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 20px;
}
.subheading{
  color: white;
font-size: 30px;
font-style: italic;
}
.let-yourself{
    color: white;
}
.main-button {
  padding: 14px 60px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  font-size: 15px;
   transition: background-color 0.5s ease;
}
.main-button:hover {
  background-color:#000;
  color: #fff;
}
.impression {
  text-align: center;
  padding: 80px 20px;
  max-width: 800px;
  margin: auto;
}
.impression h2 {
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 5px;
}
.impression h3 {
  font-size: 40px;
  font-weight: 300;
  font-weight: normal;
}
.impression p {
  font-size: 20px;
  line-height: 1.;
  color: #444;
  margin-bottom: 30px;
}
em a{
    text-decoration: none;
    color: green;
}
.impression .subtext {
  font-style: italic;
  font-size: 18px;
  color: #46646c;
  
}
.Rock-section {
  margin-top: -70px;
  padding: 80px 20px;
}
.Rock-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  
} 
.Rock-image img {
  width: 100%;
  max-width: 500px;
}
.Rock-content {
    max-width: 500px;
  text-align: center;
}
.Rock-content h4 {
  color: #6a9983;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Rock-content p {
  font-size: 23px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.Rock-content button {
  padding: 12px 60px;
  background-color: #6a9983;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 18px;
   transition: background-color 0.5s ease;  
}

.Rock-content button:hover {
  background-color: #588a70;
}

.Extreme-container {
  display: flex;
  max-width: 1000px;
  background: white;
  margin: auto;
}

.Extreme-content {
  flex: 1;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  color: #709d8d;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.description {
  font-size: 23px;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
}

 .btn{
  padding: 12px 60px;
  font-size: 18px;
  border-radius: 20px;
  background-color: #709d8d;
  color: white;
  border: none;
  transition: background-color 0.5s ease;
 }

.btn:hover {
  background-color: #5a8375;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Gallery-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
      margin-top: 20px;
    margin-bottom: 50px;
  font-family: "Arial" or "Times New Roman" ;
}
.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  padding: 10px;
  margin: -60px;
}

.g-img-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.top-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.gallery-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container{
    margin-left: 100px;
    margin-right: 100px;
    height: 80vh;
}
.footer-above{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    height: 10vh;
    margin-bottom: 80px;

}
.footer-1{
    font-size: 25px;
    margin-top: 40px;
    
}
.btn-fa {
  background-color: #709d8d;
  color: white;
  width: 180px;
  padding: 12px 60px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
 
}
a{
  text-decoration: none;
}
.btn-fa a{
    font-size: 15px;
     color: white;
     text-decoration: none; 
}
.footer-2{
  margin-top: 40px;
}
 .footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
background-color:rgb(78, 94, 102);
       margin-left: -100px;
    margin-right: -100px; 
}
.footer-h4{
display: flex;
justify-content:center;
align-items: center;
}
 .social-icons img{  
  width: 40px;
  margin: 10px;
 border-radius: 15px;
}
h1 {
  color: #ffffff;
}
.footer-h4{
display: flex;justify-content:center;
align-items: center;
}
.social-icons img {
  width: 60px;
  margin: 15px;
 border-radius: 15px;
}
.footer-logo{
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
ul{
  list-style: none;
}
.facebook-img{
height: 85px;
width: 88px;
}
.youtube-img{
  height: 73px;
  width: 75px;
}
.instagram-img{
  height: 95px;
  width: 75px;
  margin-left: 10px;
}
li:hover{
  border-radius: 30px;
 background-color:rgb(78, 94, 102);
}
.footer-h4{
  margin-top: 20px;
  color: white;
}
.footer-para{
  color: white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
strong a  {
  color:#00c65e;
}
span a{
  color: white;
}
